.caption {
  font-size: 1.5rem;
  margin: 15px;
  padding: 5px;
}
.box-container {
  margin-top: 40px;
  border: 1px solid aqua;
  border-radius: 20px;
  padding: 20px;
}
.box-label {
  font-size: 1.2rem;
  padding: 2px;
  margin: 5px;
}
.token {
  word-break: break-all;
}
.expire-time {
  margin-top: 40px;
  border: '1px solid white'
}
.expire-desc {
  margin-top: 20px;
  border: '1px solid white'
}
.profile-btn {
  float: right;
  width: 150px;
  padding: 10px;
  margin-top: 40px;
  border: 1px solid aqua;
  border-radius: 10px;
}
.profile-btn:hover {
  cursor: pointer;
}

